.env
env/
.vscode
db*
otpapp/__pycache__/__init__.cpython-38.pyc
otpapp/__pycache__/admin.cpython-38.pyc
otpapp/__pycache__/helpers.cpython-38.pyc
otpapp/__pycache__/models.cpython-38.pyc
otpapp/__pycache__/serializer.cpython-38.pyc
otpapp/__pycache__/urls.cpython-38.pyc
otpapp/__pycache__/managers.cpython-38.pyc
otpapp/__pycache__/views.cpython-38.pyc
otpapp/migrations/__pycache__/0001_initial.cpython-38.pyc
otpapp/migrations/__pycache__/__init__.cpython-38.pyc
webapp/__pycache__/__init__.cpython-38.pyc
webapp/__pycache__/settings.cpython-38.pyc
webapp/__pycache__/urls.cpython-38.pyc
webapp/__pycache__/wsgi.cpython-38.pyc
otpapp/migrations/__pycache__/0002_auto_20200812_1403.cpython-38.pyc
